// Specific CSS for your home-page
.bg-search {

}


.btn-create a {
color: white;
text-decoration: none;
}

.btn-create {
  border: 0.5px solid white;
  transition: 0.3s;
  padding: 20px 100px;
  color: white;
}

.btn-create:hover {
  transition: 0.5s;
  background-color: #03A9F4;
}

.festeam h1 {
  color: white;
  font-family: $font;
  margin-left: 200px;
}

.festeam p {
  color: white;
  font-family: $font;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos {
  height: 600px;
  width: 100%;
  display: flex;
}

.img-home {
  width: 900px;
  align-items: right;
}
