// Specific CSS for your home-page
.bg-search {

}

.btn a {
  text-decoration: none;
  color: white;
}

.btn {
  border: 0.5px solid white;
}

.festeam h1 {
  color: white;
  font-family: $font;
  margin-left: 200px;
}

.festeam p {
  color: white;
  font-family: $font;
  margin-left: 200px;
}


.container-home {
  // background-color: black;
  width: 100%;
  height:100vh;
}

.container-home img {
  width: 100px;
  height: 100px;
}
