// Specific CSS for your home-page
// .btn-create a {
// color: white;
// text-decoration: none;
// }

// .btn-create {
//   border: 0.5px solid white;
//   transition: 0.3s;
//   padding: 20px 100px;
//   color: #03A9F4;
//   width: 350px;
// }

// .btn-create:hover {
//   transition: 0.5s;
//   background-color: #00BCD4;
// }

.festeam h1 {
  color: white;
  font-family: $font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  margin-bottom: 20px;
  // margin-left: 200px;
}

.festeam h3 {
  color: white;
  font-family: $font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  margin-bottom: 30px;
}

.boutton-home{
  width: 200px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  // margin-bottom: 10px;
  background-color: #03A9F4;
  color: white;
  transition: 0.3s;
  &:hover{
    background-color: #E91E63;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
