
.mapboxgl-popup-content{
  p{
    color: #98887F;
    font-size: 14px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  h6{
    margin-left: 4px;
    color: #370000;

  }
  h5{
    margin-left: 4px;
    margin-top: 4px;
    color:#9DADC3;
  }



  img{
    margin: 4px;

  }
}
