// Import page-specific CSS files here.
@import "home";
@import "show_event";

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: #202126;
  font-family: $font;
}

.main-container {
 flex-grow: 1;
}
