// Import page-specific CSS files here.
@import "home";

@import "event_user_new";

@import "show_event";
@import "new_group";
// @import "list_event_draggable";
@import "list_event";
@import "votes";
@import "show_group";
@import "dashboard";
@import"imgmap";

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: #202126;
  font-family: $font;
}

.main-container {
  display: flex;
  flex-direction: column;
 flex-grow: 1;
 background-color: #FEFEFE;
}
