@media(max-width: 3000px) {
.rules {
  display: flex;
  padding: 0 50px;
}

.rule-one {
  width: 50%
}

.rule-two {
  margin: 0 20px;
  width: 50%
}

.rule-tree {
  width: 50%
}

.img-ruleone {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 20px 0;
  // border-radius: 50%;
  // height: 200px;
  // width: 200px;
  // background-color: #e8e8e8;
}

.img-ruletwo {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 20px 0;
}

.img-ruletree {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
// .responsive {
//     h4 {
//       width: 50%;
//     font-size: 1.5rem;
//   }
//   }

.form-groupe {
  width: 540px;
  padding: 30px;
  background-color: white;
  // border: 2px solid #202126;
  color: black;
  // margin-top: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

  .form {
    color: black;
    margin-bottom: 20px;
  }

  .form-control-label {
    margin-botton: 0px;
  }

  h1 {
    font-family: $font;
    font-weight: 100;
    text-align: center;
  }

  h2 {
    font-family: $font;
    font-weight: 100;
    text-align: center;
  }

  .group-img-create {
    width: 100%;
  }

  #add-friend-input {
    cursor: pointer;
  }

  .form-control-group{

    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


  .input-group {
    background: red;
  }

  .boutton {
    width: 100%;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    // margin-bottom: 10px;
    background-color: #03A9F4;
    color: white;
    transition: 0.3s;
    &:hover{
      background-color: #E91E63;
      color: white;

    }
  }


.fa-plus-circle {
  font-size: 24px;
  color: gray;
}

::placeholder {
  color: black;
  opacity: 0.3;
  font-size: 14px;
  // font-style: italic;
}
.responsive-container-group {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 50%;
    background-position-x: 50px;
    background-position-y: 300px;
}

  // .rules {
  //   display:flex;
  // }

  // .rule-description{
  //   color:red;
  // }


.responsive-valeur {
  // display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-container-group-right {
  // display: flex;
  justify-content:center;
  margin: 0 auto;
  // padding: 78px;
  // flex-grow: 1;
}

.responsive-container-group-left {
  background-size: cover;
  width: 50%;
}
}

@media(max-width: 1000px) {
.rules {
  display: flex;
  padding: 0px;
  flex-direction: column;
  h4 {
    font-size: 20px;
  }
}

.rule-one {
  width: 70%;
}

.rule-two {
  // margin: 0 20px;
  width: 70%;
}

.rule-tree {
  width: 70%;
}

.img-ruleone {
  display: flex;
  align-items: center;
  justify-content:center;
  // padding: 20px 0;
  // border-radius: 50%;
  // height: 200px;
  // width: 200px;
  // background-color: #e8e8e8;
}

.img-ruletwo {
  display: flex;
  align-items: center;
  justify-content:center;
  // padding: 20px 0;
}

.img-ruletree {
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 20px 0;
}

.form-groupe {
  width: auto;
  padding: 3px;
  background-color: white;
  // border: 2px solid #202126;
  color: black;
  // margin-top: 40px;
  box-shadow: 0 0 0px rgba(0,0,0,0.2);
}
  .form {
    color: black;
    margin-bottom: 20px;
    font-size: 0.8rem;
  }

  .form-control-label {
    margin-botton: 0px;
  }

  h1 {
    font-family: $font;
    font-weight: 100;
    text-align: center;
  }

  h2 {
    font-family: $font;
    font-weight: 100;
    text-align: center;
  }

  // #blabla {
  //   background-color: yellow;
  //   font-size: 12px !important;

  // }

  .group-img-create {
    width: 100%;
  }

  #add-friend-input {
    cursor: pointer;
  }

  .form-control-group{

    margin-bottom: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }


  .input-group {
    background: red;
  }

  .boutton {
    width: 100%;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
    // margin-bottom: 10px;
    background-color: #03A9F4;
    color: white;
    transition: 0.3s;
    &:hover{
      background-color: #E91E63;
      color: white;

    }
  }


.fa-plus-circle {
  font-size: 24px;
  color: gray;
  margin-left: 276px;
}

::placeholder {
  color: black;
  opacity: 0.3;
  font-size: 14px;
  // font-style: italic;
}
.responsive-container-group {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
    // background-position-x: 50px;
    // background-position-y: 300px;
}

  // .rules {
  //   display:flex;
  // }

  // .rule-description{
  //   color:red;
  // }


.responsive-valeur {
  // display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-container-group-right {
  // display: flex;
  justify-content:center;
  background-size: cover;
  // margin: 0 auto;
  // padding: 78px;
  // flex-grow: 1;
}

.responsive-container-group-left {
  background-size: cover;
  // width: 100%;
}
}
