#event {
  display: flex;
}


.text {
  background-color: white;
  margin-top: 90px;
  padding: 30px;
}

.text h2 {
  font-family: $font;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
}

.text h4 {
  font-family: $font;
  opacity: 0.6;
  text-decoration: underline;
}
.text p {
  font-family: $font;
  color: black;
  margin-bottom: 90px;
}

.infos-global {
  margin-top: 90px;
  padding: 20px;
  background-color: white;
  position: sticky;
  top: 140px;
}

.infos h2 {
  font-family: $font;
  padding-bottom: 20px;
}

.date p {
  font-family: $font;
}

.infos a {
  text-decoration: none;
  color: #03A9F4;
  transition: 0.3s;
  &:hover {
    color: #E91E63;
  }
}

.infos-p h5 {
  font-family: $font;
}
