.groupe {
  padding: 30px;
  background-color: white;
  // border: 2px solid #202126;
  border-radius: 10px;
  color: black;
  margin-top: 40px;
  // box-shadow: 3px 3px 5px rgba(118,136,219,0.8);
}

.group-infos {
  width: 100%;
}

.group-name {
  display: flex;
  justify-content: space-between;
}

.etat {
  width: 200px;
  // background-color: blue;
  border-radius: 5px;
}

.group-name h1 {
  font-family: $font;
}

.list_event-notvoted {
  // background-color: red;
  padding: 20px;
}

.event-choice {
border-radius: 10px;
background-color: white;
height: 90px;
display: flex;
position: relative;
}

.card-infos-show {
  margin-left: 20px;
}

.img-card-show {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.boutton-groupe {
  width: 200px;
  margin-bottom: 20px;
  background-color: #202126;
  color: white;
  text-decoration: none;
  padding: 7px 10px;
  &:hover{
    border: 0.5px solid #202126 ;
    background-color: transparent;
    color: #202126;
    text-decoration: none;
  }
}

.boutton-formulaire {
  display: flex;
  justify-content: space-between;
}

