<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= @event_user.name%>');" data-event-id="<%= event.id %>">
  <h1><%= @events.name %></h1>
</div>
