<div class="cointainer">
  <div class="dashboard">
    <div class="principal-row">
      <div class="personnal-infos">

      </div>
      <div class="all-my-groups">
      </div>
    </div>
  </div>
</div>


