<!-- <div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/forme-ok.png);">-->
<div class="infos">
  <div class="festeam">
    <h1>Festeam</h1>
    <p>Come out, Discover, Enjoy !</p>
  </div>
  <div>
   <%= image_tag 'forme-bon.png', class: "img-home" %>
  </div>
  <div class="btn">
  <%=link_to "Créer un groupe", new_group_path %>
</div>
</div>
