<div class="banner">
  <div class="container d-flex flex-column justify-content-center">
    <h1>MERDUM</h1>
      <p>Come out, Discover, Enjoy !</p>
        <div class="btn-create">
          <%=link_to "Créer un groupe", new_group_path %>
        </div>
  </div>
</div>



<!-- <div class="infos">
  <div class="festeam">
    <h1>Festeam</h1>
    <p>Come out, Discover, Enjoy !</p>
  </div>

  <div class="btn">
    <%=link_to "Créer un groupe", new_group_path %>
  </div>
</div>
 -->
