<div class="container-group-home">
  <div class="container-group-left-home">
    <div class="title-home">Come out, Discover, <span>ENJOY !</span></div>
      <p>Tout le monde sait à quel point il est difficile<br> de tomber d'accord pour choisir une activité<br> de groupe. Grâce à Festeam <strong>sortez de votre zone<br> de confort sans désaccords !</strong></p>
    <div class="boutton-home"><%=link_to "Organiser une soirée", new_group_path %></div>
  </div>
  <div class="container-group-right-home">
    <div class="banner-home">
    </div>
  </div>
</div>


<!-- <div class="flex flex-col">
  <div class="">
    <div class="bg-gray-400"><span class="ml-8 bg-yellow-200">Target</span></div>
    <div class="ml-5" >Come out, Discover, <span>ENJOY !</span></div>
      <p class="">Tout le monde sait à quel point il est difficile<br> de tomber d'accord pour choisir une activité<br> de groupe. Grâce à Festeam <strong>sortez de votre zone<br> de confort sans désaccords !</strong></p>
    </div>
    <div class="boutton-home"><%=link_to "Organiser une soirée", new_group_path %></div>
  </div>
  <div class="">
    <div class="">
        <%= render :partial => 'svg/undraw_having_fun_iais' %>
    </div>
  </div>
</div> -->
