<div class="banner">
  <div class="container d-flex flex-column justify-content-center">
    <div class="festeam">
      <h1>Festeam</h1>
      <h3>Come out, Discover, Enjoy !</h3>
        <div class="btn-create">
          <%=link_to "Créer un groupe", new_group_path %>
        </div>
    </div>
  </div>
</div>
