.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}


.invitation{
  position: fixed;
  z-index: 1005;
  top: 120px;
  left: 0px;
  margin: 12px;
  padding: 12px;
  border-radius: 4px;
}

.move{
  left: -1200px;
  transition: 0.6s;
}
