.btn-create a {
color: white;
text-decoration: none;
}


.btn-create {
  border: 0.5px solid white;
  transition: 0.3s;
  padding: 20px 100px;
  color: #03A9F4;
  width: 350px;
}

.btn-create:hover {
  transition: 0.5s;
  background-color: #00BCD4;
}

#add-friend-input {
  font-size: 16px;
}

.add-field {
  border-radius:10px;
}

.valid-vote {
  width: 100%;
  margin-top: 20px;
  background-color: #202126;
  color: white;
  padding: 8px 15px;
  &:hover{
    border: 0.5px solid #202126 ;
    background-color: transparent;
    color: #202126;
    text-decoration: none;
  a {
      text-decoration: none;
    }
  }
}
