.btn-create a {
color: white;
text-decoration: none;
}

.btn-create {
  border: 0.5px solid white;
  transition: 0.3s;
  padding: 20px 100px;
  color: #03A9F4;
  width: 350px;
}

.btn-create:hover {
  transition: 0.5s;
  background-color: #00BCD4;
}
