.container-group {
  display: flex;
  background-repeat: no-repeat;
}

.container-group-right {
  // display: flex;
  justify-content:center;
  margin: 0 auto;
  padding: 78px;
  // flex-grow: 1;
}

.container-group-left {
  background-size: cover;
  width: 50%;
 }
