.container-group {
  display: flex;
  justify-content:center;
  background-size: cover;
  padding: 78px;
  flex-grow: 1;
  background-image: url(https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}
