.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
  height: 90px;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items:center;
  h3 {
    font-size: 20px;
    font-family: $font;
    font-weight: 100;
    color: #424e54;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item  .navbar-collapse a{
  color: white;
}

.onglet-groupe {
  width: 100%;
  transition: 0.3s;
  border-radius: 50px;
  color: white;
  background-color: #8bc34a;
  padding: 8px 12px;
  &:hover{
  background-color: #8bc34a;
  color: white;
  }
}

a.onglet-groupe {
  text-decoration: none;
}
