<div class="container">
  <div class="vote">
    <h1>Il est l'heure de voter !</h1>
      <ul class="list_event">
        <% @group.event_users.each do |event_user| %>
        <li id="<%= event_user.event.id %>" class="event_choices">
            <%= event_user.event.name %>
            <%= event_user.user.name %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Valide ton vote !", group_votes_path(params[:group_id]), method: :post, remote: true, class: "valid-vote" %>
  </div>
</div>

